<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1">
    <title>MIR</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Job</td>
        <td>PID</td>
        <td>actions</td>
        <td>Progress</td>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.pid }}</td>
            <td>
                {% if task.pid %}
                    <a href="/kill/?task={{ task.name }}">kill</a> &nbsp;
                {% else %}
                    <a href="/start/?task={{ task.name }}">start</a> &nbsp;
                {% endif %}
            </td>
            <td>
                <code>
                    {{ task.progress }}
                </code>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
