<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MIR</title>
    <style>
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
<a href="/progress"> Jobs</a>
<form method="get" action=".">
    <input name="q" value="{{ q }}">
    <input type="submit" value="search">
</form>
<p>Results</p>
<table>
    <thead>
    <tr>
        <td>title</td>
        <td>authors</td>
        <td>abstract</td>
    </tr>
    </thead>
    <tbody>
    {% for result in results %}
        <tr>
            <td>{{ result.title }}</td>
            <td>
                {% for author in result.authors %}
                    {{ author.name }},
                {% endfor %}
            </td>
            <td>{{ result.abstract }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>
